/* General reset and body styling */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Set Roboto as the default font */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 1em;
  background-color: #161618;
  color: #e0e0e0;
}

/* Logo styling */
.wm-logo {
  position: absolute;
  left: 30px; /* Adjust left position as needed */
  top: 30px;
  width: 10%; /* Adjust width as needed */
  height: auto;
  z-index: -1;
}

.bottom-wm {
  justify-items: center;
}

.wm-text {
  color: #363636;
  padding-top: 12px;
}

/* Container for the form */
.container {
  /* background: #1e1e1e; */
  padding: 20px 30px;
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.wrap-container {
  display: flex;
  justify-content: space-between;
}

.wrap-container-child {
  width: 32%;
}

.pic-contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pic-contact input {
  width: 80%;
}

.contact-submit {
  width: 20%;
  height: 3.3em;
}

h2,
h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.2em;
  text-align: left;
}

h1 {
  font-weight: 500;
  font-size: 1.2em;
  color: #ffffff;
}

/* Form elements */
label {
  display: block;
  margin: 15px 0 5px;
  font-size: 14px;
  color: #b3b3b3;
  text-align: left;
}

input,
select,
textarea {
  width: 100%;
  padding: 15px;
  background-color: #1f1f21;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 10px;
}

input:disabled,
textarea:read-only {
  background-color: #19191a;
  border: 1px solid #2b2b2d;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #a0c532;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #a0c532;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #89cc4b;
}

textarea {
  height: 40vh;
  resize: none;
  overflow: hidden;
  background-color: #19191a;
  border: 1px solid #2b2b2d;
}
